body {
    background-color: #F7B538;
}

.button-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    margin-top:20px;
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: start;
}